/* REMOVE THIS AND ADD YOUR OWN CSS AS NEEDED */
* /*{
	outline: red dashed 2px;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.check {
    color: orange;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-text .material-icons {
    margin-left: 5px;
}

.icon-text .brand-logo {
	display: flex;
	align-items: center;
}

body {
	font-family: 'Times New Roman', Times, serif
}

.nav-wrapper {
	background-color:black;
    margin: auto;
    
}
span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
.image-container{
	background-size: cover;
    width: 100%;
   height: 400px;
   margin-top: -40px;
}



.search-bar{
	text-align:center;
	background-color: aliceblue;
    margin-top: 100px;
}

.btn-primary{
	display: flex;
	text-align:center;
}

.form-group{
	text-align: center;
  
}

.row{
	font-family: 'Lobster', cursive;
}

.result{
	font-family: initial;
}
.btn {
    margin-bottom: 100px;
}

.row {
    margin-bottom: 500px;
}

.form-search {
text-align: center;
}

.fill {
    color: #e6e6e6;
}
.profile {
    padding: 5px;
    margin-right: 5px;
}
.logout {
    margin-right: 10px;
    margin-top: 4px;
}

.material-symbols-outlined {
    padding: 3px;
}
.login-screen {
    scale: .95;
}
.card-image {
    max-width: 100%;
    max-height: 275.63px;
    object-fit: cover;
  }
  img {
    height: 275.63px;
    max-width: 100%;
  }
  
  #miko.row > * {
    flex-direction: column;
    text-align: center;
}
.frame{
    height: 30rem;
}
@media only screen and (max-width: 768px) {
    .profile, .logout, .login, .center-align {
        display: block;
        text-align: center;
        justify-content: center ;
        margin: 30px;
        padding: 20px;
    }
.brand-logo {
    text-align: center;
    width: 100%;
    flex-basis: 100%;
}

} 